
<div id="header">
    <hr>
    <h1><a href="/" id="mainlink">Main</a></h1>
    <hr>
    <div class="menubar">
        <ul>
            <li><a href="/board">mainboard</a>
                <ul>
                    <li><a href="/board/1">Board1</a></li>
                    <li><a href="/board/2">Board2</a></li>
                </ul>
            </li>
            <li><a href="#">....</a></li>
        </ul>
    </div>
    <div id="userInfo">
        <%if(user != null){%>
            <h1 style="margin: 10px;"><%=user.nick%>님</h1>
            <a class="userChoice" href="/auth/logout">로그아웃</a>
            <a class="userChoice" href="#">작성글 보기</a>
        <%}else{%>
            <form id="loginForm" action="/auth/login" method="POST">
                <table>
                    <tr>
                        <th><label for=email>Email : </label></th>
                        <td><input type="email" id=email name=email required="true"></td>
                        <td rowspan="2">
                            <input id="loginSubmit" type="submit" value="로그인">
                        </td>
                    </tr>
                    <tr>
                        <th><label for=password>Password : </label></th>
                        <td><input type="password" id=password name=password  required="true"></td>
                    </tr>
                </table>
                
            </form>
            <div id="joinMethod">
                <a class="join" href="/join" >회원가입</a>
                <a class="join" href="/auth/kakao">카카오 로그인</a>
                <a class="join" href="/auth/naver">네이버 로그인</a>
            </div>
        <%}%>
    </div> 
    <hr>  
</div>
