<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/layout.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <% include ./header %>
    <div id="main">
            <h1>this is main page</h1>
    </div>
    <% include ./footer %>
</body>
</html>