<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/layout.css" rel="stylesheet" type="text/css">
    <title>WRITE POST</title>
    <style>
        textarea{
            margin-top: 10px;
            width: 800px;
        }
        #title{
            width: 750px;
        }
    </style>
</head>
<body>
    <% include ./header %>
    <div id="write">
        <form id="post" method="post" action=<%="/board/"+boardNum+"/writeform" %>>
            <span id="postTitle">title   </span>
            <input type="text" name="title" id="title" required="true">
            <label for="select-type">Post type is..</label>
            <select name="type" id="select-type">
                <option value="normal">normal</option>
                <option value="special">special</option>
            </select>
            <textarea name="description" style="resize:none; display: block;" rows="30" ></textarea>
            <hr>
            <input type="file" id="fileSelector" >
            <hr>
            <input type="submit" value="POST" >
            <input type="hidden" name="imageURL" id="imageURL">
        </form>
    </div>
    <% include ./footer %>
</body>
</html>
<script>
    document.getElementById('fileSelector').addEventListener('change',()=>{
        var formData = new FormData();
        var file = document.getElementById('fileSelector')
        formData.append('imgURL',file.files[0]);
        var xhr = new XMLHttpRequest();
        xhr.onload = ()=>{
            if(xhr.status === 200){
                var URL = JSON.parse(xhr.responseText).url;
                document.getElementById('imageURL').value = URL;
            }else{
                console.error(xhr.responseText);
            }
        }
        xhr.open('POST','/fileManage/img');
        xhr.send(formData);
    })
</script>